Automated Daily Email Sender with n8n.json
{
  "name": "Automated Daily Email Sender with n8n",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2e0e8f13-16df-4dbb-bb38-6a3aeb564031",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Jm1aS_ba6aKHpePyl1lY8MvHzvHKrHT98QhMnzEtrjM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jm1aS_ba6aKHpePyl1lY8MvHzvHKrHT98QhMnzEtrjM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email Sent?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c2e2dfc7-b0cd-4508-bf4a-ba05b4c069f6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bvUJ81qBzmXgO7Lj",
          "name": "Google Sheets account 370"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "4751c5e3-b830-4771-8962-b04e06e1c748",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Gmail '] }}",
        "subject": "=hi  {{ $json['Name '] }}",
        "message": "hello ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        96
      ],
      "id": "65a9b4ac-c88d-4fb2-bce4-f8e9002fb72a",
      "name": "Send a message",
      "webhookId": "f6ae0d75-f76b-45f9-b3ce-4b2419ee34af",
      "credentials": {
        "gmailOAuth2": {
          "id": "arIFwef3IbI8kWo6",
          "name": "Gmail account 304"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Jm1aS_ba6aKHpePyl1lY8MvHzvHKrHT98QhMnzEtrjM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jm1aS_ba6aKHpePyl1lY8MvHzvHKrHT98QhMnzEtrjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent Time ": "={{$now.toFormat('hh:mm a')}}",
            "Gmail ": "={{ $('Get row(s) in sheet').item.json['Gmail '] }}",
            "Email Sent?": "Yes",
            "Sent Date": "={{$now.toFormat('dd MMMM yyyy')}}",
            "Name ": "={{ $('Get row(s) in sheet').item.json['Name '] }}"
          },
          "matchingColumns": [
            "Name "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gmail ",
              "displayName": "Gmail ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent Time ",
              "displayName": "Sent Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent?",
              "displayName": "Email Sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        64
      ],
      "id": "616353e9-d4dc-4d65-848a-52c448773800",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bvUJ81qBzmXgO7Lj",
          "name": "Google Sheets account 370"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        64
      ],
      "id": "c764b21a-809c-4c82-8684-ea000686d771",
      "name": "Wait",
      "webhookId": "cb3f1844-6b68-42cb-9869-c46b874c360e"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "f024bca8-cfdc-48ff-994d-1df95fa1d193",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f004ced0-f784-4966-bdb4-1ad97e6fd431",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "HZ7d4ifFU3LTTAor",
  "tags": []
}